In [1]:
import pandas as pd

In [2]:
file_path = "Resources/purchase_data.csv"

player_df = pd.read_csv(file_path)
player_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
#add

In [9]:
#filter to male data only
male_df = player_df.loc[player_df["Gender"] == "Male", :]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
#male_percent = male_df["Gender"] / player_df["Gender"].sum * 100
#male_percent()

TypeError: Cannot broadcast np.ndarray with operand of type <class 'method'>

In [6]:
#filter to female data
female_df = player_df.loc[player_df["Gender"] == "Female", :]
female_df.count()

Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64

In [8]:
#Groupby Gender Code

gender_group = player_df.groupby(["Gender"])
gender_compare = gender_group.mean()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.095092  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [ ]:
#add percentage column