In [41]:
import pandas as pd
import numpy as np

In [42]:
file_path = "Resources/purchase_data.csv"

main_df = pd.read_csv(file_path)
main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
total = len(main_df["SN"].unique())
total_players = pd.DataFrame({"Total Players": [total]})
total_players

   Total Players
0            576

In [44]:
#calculate number of unique items
item_count = len(main_df["Item Name"].unique())

#calculate average price
avg_price = main_df["Price"].mean()

#calculate total revenue
total_rev = main_df["Price"].sum()

#calculate number of purchases
purchases = len(main_df["Purchase ID"].unique())

In [45]:
#print purchase analysis (see kickstarter activity for formatting)
purchase_analysis = pd.DataFrame({"Number of Purchases": [purchases],
                                 "Number of Unique Items": [item_count],
                                 "Average Price": [avg_price],
                                 "Total Revenue": [total_rev]
                                 })
#format using Map
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:}".format)
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis

   Number of Purchases  Number of Unique Items Average Price Total Revenue
0                  780                     179         $3.05      $2379.77

In [46]:
#create a dataframe that drops any duplicates (after 1x) in "SN"
no_dup_df = main_df.drop_duplicates(subset="SN",keep='first')

In [47]:
m_df = no_dup_df.loc[no_dup_df["Gender"] == "Male", :]
f_df = no_dup_df.loc[no_dup_df["Gender"] == "Female", :]
o_df = no_dup_df.loc[no_dup_df["Gender"] == "Other / Non-Disclosed", :]

#calculate count of each gender using no_dup
m_count = len(m_df)
f_count = len(f_df)
o_count = len(o_df)

#calculate percentage of each gender
m_percent = (m_count/total)*100
f_percent = (f_count/total)*100
o_percent = (o_count/total)*100



gender_summary = pd.DataFrame({"Gender": ['Male', 'Female', 'Other/Non-Disclosed'],
                              "Total Count": [m_count, f_count, o_count],
                              "Percentage of Players": [m_percent, f_percent, o_percent]
                              })
              
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)
gender_summary

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [16]:
#Purchasing Analysis by Gender

#create new dataframes for each gender
male_df = main_df.loc[main_df["Gender"] == "Male", :]
female_df = main_df.loc[main_df["Gender"] == "Female", :]
other_gen_df = main_df.loc[main_df["Gender"] == "Other / Non-Disclosed", :]

#calculate Purchase Count for each gender
purchase_count_m = len(male_df)
purchase_count_f = len(female_df)
purchase_count_o = len(other_gen_df)


#calculate average purchase price for each gender
avg_purchase_m = male_df["Price"].mean()
avg_purchase_f = female_df["Price"].mean()
avg_purchase_o = other_gen_df["Price"].mean()

#calculate Total Purchase Value for each gender
total_purchase_m = male_df["Price"].sum()
total_purchase_f = female_df["Price"].sum()
total_purchase_o = other_gen_df["Price"].sum()

#calculate Avg Total Purchase per Person

In [9]:
#write calculations into dataframe
gender_purchase_analysis = pd.DataFrame({"Gender": ['Male', 'Female', 'Other/Non-Disclosed'],
                                        "Purchase Count": [purchase_count_m, purchase_count_f, purchase_count_o], 
                                        "Average Purchase Price": [avg_purchase_m, avg_purchase_f, avg_purchase_o],
                                        "Total Purchase Value": [total_purchase_m, total_purchase_f, total_purchase_o]
                                        })

gender_purchase_analysis["Average Purchase Price"] = gender_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_analysis["Total Purchase Value"] = gender_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
0,Male,652,$3.02,$1967.64
1,Female,113,$3.20,$361.94
2,Other/Non-Disclosed,15,$3.35,$50.19

In [ ]:
print(main_df["Age"].max())
print(main_df["Age"].min())

In [ ]:
#Age Demographics

#Establish bins and labels for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
main_df["Age Group"] = pd.cut(main_df["Age"], bins, labels=age_groups)
main_df.head()

In [ ]:
#age_df = main_df.groupby("Age Group")
#age_df.head()