In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "Resources/purchase_data.csv"

main_df = pd.read_csv(file_path)
main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [30]:
total = main_df["SN"].unique()
total_players = pd.DataFrame({"Total Players": [len(total)]})
total_players

#total_df = pd.DataFrame[["Total Players", total]]    
#total_df

   Total Players
0            576

In [17]:
#calculate number of unique items
item_count = len(main_df["Item Name"].unique())

#calculate average price
avg_price = main_df["Price"].mean()

#calculate total revenue
total_rev = main_df["Price"].sum()

#calculate number of purchases
purchases = len(main_df["Purchase ID"].unique())

In [19]:
#print purchase analysis (see )
purchase_analysis = pd.DataFrame({"Number of Purchases": [purchases],
                                 "Number of Unique Items": [item_count],
                                 "Average Price": [avg_price],
                                 "Total Revenue": [total_rev]
                                 })
purchase_analysis

   Number of Purchases  Number of Unique Items  Average Price  Total Revenue
0                  780                     179       3.050987        2379.77

In [29]:
#gender_stats = main_df["Gender"].value_counts()
#gender_stats

In [ ]:
#gender = player_data["Gender"].value_counts()
#gender

female_df = player_data

In [ ]:
#unique_items = plater_data["Item Name"].unique()
#unique_items

In [ ]:
#summary_df = pdDataFrame({'Number of Unique Items':
#                         'Average Price':,
#                         'Number of Purchases':,
#                         'Total Revenue':})
#summary_df()

In [ ]:
#summary_df = player_data["Gender"].value_counts()
#summary_df

In [ ]:
#gender_percentage = player_df["Gender"]/total_players
#summary_df["Gender Percentage"] = gender_percentage

#gender_percentage()